{% if (enable_avatar_header_box or username_header_box or enable_header_follow_button or enable_bio_header_box) %}
    {% include 'view/header-box/header-box.twig' %}
{% endif %}

{% if is_pro and feed_type == "slider" %}
    <div class="inavii-ajax inavii-skeleton-container {{ is_mobile ? 'inavii-is-mobile' : '' }} inavii-box-swiper {{ display_navigation }}"
         data-settings="{{ widgetSettings|json_encode|e('html_attr') }}">
        {% if is_pro %}
            {% include 'view/skeleton/skeleton-slider.twig' %}
        {% endif %}
    </div>

    <div class="swiper-pagination inavii-slider-pagination"></div>
{% else %}
    <div class="inavii-ajax inavii-skeleton-container {{ is_mobile ? 'inavii-is-mobile' : '' }} inavii-grid{{ feed_type != '' ? ' inavii-grid__type-' ~ feed_type }}"
         data-items-mobile="{{ items_mobile }}" data-settings="{{ widgetSettings|json_encode|e('html_attr') }}"
        {% if is_pro %} {% include 'view/helpers/masonry-vertical-options.twig' %} {% endif %}>

        {% if (feed_type == 'grid' or feed_type == 'gallery') %}
            {% include 'view/skeleton/skeleton-grid.twig' %}
        {% endif %}

        {% if (feed_type == 'row') %}
            {% include 'view/skeleton/skeleton-row.twig' %}
        {% endif %}

        {% if (feed_type == 'wave') %}
            {% include 'view/skeleton/skeleton-wave.twig' %}
        {% endif %}

        {% if is_pro %}
            {% if (feed_type == 'wave-grid') %}
                {% include 'view/skeleton/skeleton-wave-grid.twig' %}
            {% endif %}

            {% if (feed_type == 'highlight') %}
                {% include 'view/skeleton/skeleton-highlight.twig' %}
            {% endif %}

            {% if (feed_type == 'highlight-super') %}
                {% include 'view/skeleton/skeleton-highlight-super.twig' %}
            {% endif %}

            {% if (feed_type == 'highlight-focus') %}
                {% include 'view/skeleton/skeleton-highlight-focus.twig' %}
            {% endif %}

            {% if (feed_type == 'masonry-horizontal') %}
                {% include 'view/skeleton/skeleton-masonry-horizontal.twig' %}
            {% endif %}

            {% if (feed_type == 'masonry-vertical') %}
                {% include 'view/skeleton/skeleton-masonry-vertical.twig' %}
            {% endif %}
        {% endif %}
    </div>
{% endif %}

{% if (enable_follow_button) %}
    {% include 'view/buttons.twig' %}
{% endif %}