<div class="inner-swiper-container">
    <div class="swiper-wrapper">
        {% for index,item in items %}
            {% if item.children is empty %}
                <div class="inner-swiper-slide swiper-slide">
                    <div class="swiper-slide-box">
                        {% if item.mediaType == 'VIDEO' %}
                            {% if item.videoUrl %}
                                <div class="swiper-slide-box--video-box">
                                    {% include 'view/assets/icon-play.twig' %}
                                    <video class="inavii__video"
                                           data-poster="{{ item.mediaUrl['large'] }}"
                                           src="{{ item.videoUrl }}"
                                           loop playsinline
                                           preload="metadata"></video>
                                </div>
                            {% else %}
                                <div class="inavii-button__reel-instagram-button">
                                    <a href="{{ item.permalink }}" target="_blank"
                                       rel="nofollow noopener" role="button">
                                        View the reel on Instagram
                                    </a>
                                </div>
                                <img src="{{ item.mediaUrl["large"] }}"
                                     class="inavii__image"
                                     alt="Instagram post from {{ item.username }}. This post is in position {{ index }}."
                                     loading="lazy"
                                />
                            {% endif %}
                        {% else %}
                            <img src="{{ item.mediaUrl["large"] }}"
                                 class="inavii__image"
                                 alt="Instagram post from {{ item.username }}. This post is in position {{ index }}."
                                 loading="lazy"
                            />
                        {% endif %}
                    </div>
                    {% include 'view/lightbox/sidebar.twig' %}
                </div>
            {% else %}
                <div class="inner-swiper-slide swiper-slide">
                    {% include 'view/lightbox/swiper-nested.twig' %}
                    {% include 'view/lightbox/sidebar.twig' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="swiper-button-prev inner-swiper-button-prev">
    <svg viewBox="0 0 20 20" fill="#ffffff">
        <path d="M14 5l-5 5 5 5-1 2-7-7 7-7z"/>
    </svg>
</div>
<div class="swiper-button-next inner-swiper-button-next">
    <svg viewBox="0 0 20 20" fill="#ffffff">
        <path d="M6 15l5-5-5-5 1-2 7 7-7 7z"/>
    </svg>
</div>