<div class="nested-swiper">
    <div class="swiper-wrapper">
        {% for index,child in item.children %}

            <div class="swiper-slide">
                <div class="swiper-slide-box">
                    {% if child.mediaType == 'VIDEO' %}
                        {% if child.videoUrl %}
                            <div class="swiper-slide-box--video-box">
                                {% include 'view/assets/icon-play.twig' %}
                                <video class="inavii__video"
                                       data-poster="{{ child.mediaUrl['large'] }}"
                                       src="{{ child.videoUrl }}"
                                       loop playsinline
                                       loading="lazy"
                                       preload="metadata"></video>
                            </div>
                        {% else %}
                            <div class="inavii-button__reel-instagram-button">
                                <a href="{{ child.permalink }}" target="_blank"
                                   rel="nofollow noopener" role="button">
                                    View the reel on Instagram
                                </a>
                            </div>
                            <img src="{{ child.mediaUrl["large"] }}"
                                 class="inavii__image"
                                 alt="Instagram post from {{ child.username }}. This post is in position {{ index }}."
                                 loading="lazy"
                            />
                        {% endif %}
                    {% else %}
                        <img src="{{ child.mediaUrl["large"] }}"
                             class="inavii__image"
                             alt="Instagram post from {{ child.username }}. This post is in position {{ index }}."
                             loading="lazy"
                        />
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="nested-swiper-pagination swiper-pagination"></div>
    <div class="nested-swiper-buttons-box">
        <div class="nested-swiper-button-prev swiper-button-prev inavii-arrow">
            <svg viewBox="0 0 20 20" fill="#ffffff">
                <path d="M14 5l-5 5 5 5-1 2-7-7 7-7z"/>
            </svg>
        </div>
        <div class="nested-swiper-button-next swiper-button-next inavii-arrow">
            <svg viewBox="0 0 20 20" fill="#ffffff">
                <path d="M6 15l5-5-5-5 1-2 7 7-7 7z"/>
            </svg>
        </div>
    </div>
</div>