{% if (enable_photo_linking == "linking_post") %}
    <a href="{{ item.permalink }}" target="{{ target }}">
        <div class="inavii-grid__item-box">
            {% if (item.mediaType == 'VIDEO') %}
                {% include 'view/assets/icon-video.twig' %}
            {% endif %}

            {% if (item.mediaType == 'CAROUSEL_ALBUM') %}
                {% include 'view/assets/icon-gallery.twig' %}
            {% endif %}

            <img class="inavii-grid__image"
                 src="{{ item.mediaUrl[imageSize] }}"
                 alt="Instagram post from {{ item.username }}. This post is in position {{ index }}."
                 loading="lazy"/>

            {% if is_pro %}
                {% include 'view/back-view/base.twig' %}
            {% endif %}
        </div>
    </a>
{% else %}
    <div class="inavii-grid__item-box {%if (enable_photo_linking == "none") %}inavii-grid__item-box--pointer-none{% endif %}">
        {% if (item.mediaType == 'VIDEO') %}
            {% include 'view/assets/icon-video.twig' %}
        {% endif %}

        {% if (item.mediaType == 'CAROUSEL_ALBUM') %}
            {% include 'view/assets/icon-gallery.twig' %}
        {% endif %}

        <img class="inavii-grid__image"
             src="{{ item.mediaUrl[imageSize] }}"
             alt="Instagram post from {{ item.username }}. This post is in position {{ index }}."
             loading="lazy"/>

        {% if is_pro %}
            {% include 'view/back-view/base.twig' %}
        {% endif %}
    </div>
{% endif %}